{% extends "layout.html" %}

{% block content %}
<div class="row">
    <h1 class="display-6 col-lg-3 col-sm-12 text-justify">Your History</h1>
    <p class="lead col-lg-6 col-sm-12 text-justify">We keep track of your past submissions to help you make a comparison between different listings.</p>
</div>
<div class="table-responsive my-3">
<table class="table table-hover text-center">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Bedrooms</th>
            <th scope="col">Bathrooms</th>
            <th scope="col">Accomodates</th>
            <th scope="col">Room Type</th>
            <th scope="col">Neighborhood</th>
            <th scope="col">Elevator?</th>
            <th scope="col">Pool?</th>
            <th scope="col">Predicted</th>
            <th scope="col">Actual</th>
            <th scope="col">Difference</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <!-- Placeholder to show what the table ought to look like-->
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>Shared Room</td>
            <td>Toa Payoh</td>
            <td>Yes</td>
            <td>No</td>
            <td>$80</td>
            <td>$90</td>
            <td>-$10</td>
            <td>❌ &nbsp; 🔎</td>
        </tr>
    </tbody>
</table>
</div>
{% endblock %}