{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="px-4 py-5 my-5 col-lg-7 col-sm-12">
        <h1 class="display-5 fw-bold text-left">
            Rentier
        </h1>
        <p class="lead mb-4">
            Rentier is an app that uses machine learning to help you make the right choice when picking or creating
            an
            AirBNB listing.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-left">
            <a href="/register" class="btn btn-success btn-lg px-4 gap-3">Register</a>
            <a href="/login" class="btn btn-primary btn-lg px-4">Login</a>
        </div>
    </div>
    <figure class="px-4 py-5 my-5 col-lg-5  d-sm-none d-lg-block">
        <img src="{{ url_for('static', filename='images/20945149.png')}}" class="img-fluid" alt="Rentier">
    </figure>
</div>
<div class="row">
    <figure class="px-4 py-5 my-5 col-lg-5 d-sm-none d-lg-block">
        <img src="{{ url_for('static', filename='images/Wavy_Tech-20_Single-08.png')}}" class="img-fluid" fluid"
            alt="Image">
    </figure>
    <div class="px-4 py-5 my-5 col-lg-7 col-sm-12">
        <h2 class="display-6 fw-bold text-left">
            Finding the best deal has never been so easy!
        </h2>
        <p class="lead mb-4">
            Our AI has been trained on past AirBNB listings in Singapore, and knows what factors affect the price of the
            listing, helping you know what the market rate should be for a flat.
        </p>
    </div>
</div>
{% endblock %}