{% extends "layout.html" %}

{% block content %}


<form class="col-lg-6 col-sm-12 mx-auto" name="loginForm" method="POST" action="/login" novalidate>
    <h1>Login</h1>
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.email.label(class_='form-label') }}
        {{ form.email(class_='form-control')}}
        <span class="form-text">We'll never share your email with anyone else.</span>
        {% for error in form.email.errors %}
        <br>
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{ form.password.label(class_='form-label') }}
        {{ form.password(class_='form-control')}}
        {% for error in form.password.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-check mb-3">
        {{ form.remember_me.label(class_='form-check-label') }}
        {{ form.remember_me(class_='form-check-input' )}}
    </div>

    <div class="mb-3">
        {{ form.submit(class_='btn btn-success') }}
    </div>
</form>
<p class="text-center">
    New Here? <a href="/register">Sign Up</a>
</p>
{% endblock %}