{% extends "layout.html" %}

{% block content %}

<div class="px-5 pb-4">
    <h1 class="display-5 fw-bold text-left">
        Make a prediction
    </h1>
    <p class="lead">
        Simply type down the details of the listing in question, and our AI model will make a prediction for you!
    </p>
</div>

<div class="row">
    <div class="px-5 col-lg-6 col-sm-12 mx-auto">
        <div class="card">
            <div class="card-body">
                <form name="predictionForm" method="POST" action="/predict" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.bedrooms.label(class_='form-label') }}
                        {{ form.bedrooms(class_='form-control')}}
                        {% for error in form.bedrooms.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form.bathrooms.label(class_='form-label') }}
                        {{ form.bathrooms(class_='form-control')}}
                        {% for error in form.bathrooms.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form.accomodates.label(class_='form-label') }}
                        {{ form.accomodates(class_='form-control')}}
                        {% for error in form.accomodates.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form.room_type.label(class_='form-label') }}
                        {{ form.room_type(class_='form-select')}}
                        {% for error in form.room_type.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form.neighborhood.label(class_='form-label') }}
                        {{ form.neighborhood(class_='form-select')}}
                        {% for error in form.neighborhood.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-check">
                        {{ form.elevator.label(class_='form-check-label') }}
                        {{ form.elevator(class_='form-check-input' )}}
                    </div>
                    <div class="form-check mb-3">
                        {{ form.pool.label(class_='form-check-label')}}
                        {{ form.pool(class_='form-check-input')}}
                    </div>
                    <div class="mb-3">
                        {{ form.actual_price.label(class_='form-label') }}
                        {{ form.actual_price(class_='form-control')}}
                        {% for error in form.actual_price.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form.link.label(class_='form-label') }}
                        {{ form.link(class_='form-control') }}
                        {% for error in form.link.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3 row">
                        <div class="col-auto">
                            {{ form.submit(class_='btn btn-success') }}
                        </div>
                        <div class="col-auto">
                            <button type="reset" class="btn btn-danger">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="py-5 px-5 {%if results %} col-lg-6 col-sm-12 {%else%} d-none {%endif%}">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-bold">The predicted rental fee is...</h5>
                <p class="card-text text-center fs-5">${{price | default(0)|round(precision=2) }} per night
                    {% if actual_price %}
                    which is ${{(actual_price - price)| default(0) | abs | round(precision=2)}}
                    {% if actual_price < price %} more {% elif price> actual_price %}
                        less
                        {% else %}
                        the same
                        {% endif %}
                        than the listing price
                        {% endif %}
                </p>
                <a href="#explain" class="card-link">Why?</a>
                <a href="/history" class="card-link">See history</a>
            </div>
        </div>
    </div>
</div>
{% if results %}
<hr class="my-5">
<div class="px-5 row my-5" id="explain">
    <h2 class="display-6 fw-bold text-left">Prediction Report</h2>
    <p class="lead">
        Want to know how the model predicted the price? See our breakdown below...
    </p>
</div>
{% endif %}
{% endblock %}