{% extends "layout.html" %}

{% block content %}


<form class="col-lg-6 col-sm-12 mx-auto" name="signupForm" method="POST" action="/register" novalidate>
    <h1>Sign Up</h1>
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.email.label(class_='form-label') }}
        {{ form.email(class_='form-control')}}
        <span class="form-text">We'll never share your email with anyone else.</span>
        {% for error in form.email.errors %}
        <br>
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{ form.password.label(class_='form-label') }}
        {{ form.password(class_='form-control')}}
        {% for error in form.password.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{ form.confirm.label(class_='form-label') }}
        {{ form.confirm(class_='form-control')}}
        {% for error in form.confirm.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{ form.submit(class_='btn btn-success') }}
    </div>
</form>
<p class="text-center">
    Already have an account? <a href="/login">Login</a>
</p>
{% endblock %}