.btn-primary,
.btn-primary:visited {
    background-color: #6f42c1 !important;
    border-color    : #6f42c1 !important;
}

.btn-primary:active,
.btn-primary:hover {
    background-color: #6c39cc !important;
    border-color    : #6c39cc !important;
}