<footer class="py-3 my-4 container">
    <!-- <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
            <a href="/" class="nav-link px-2 text-muted">Home</a>
        </li>
        {% if session.user_id %}
        <li class="nav-item">
            <a href="/predict" class="nav-link px-2 text-muted">Predict</a>
        </li>
        <li class="nav-item">
            <a href="/history" class="nav-link px-2 text-muted">History</a>
        </li>
        {% endif %}
    </ul> -->
    <hr>
    <p class="text-center text-muted">Copyright &copy; Rentier 2021</p>
    <a class="d-block link-info text-center text-muted" data-bs-toggle="modal" data-bs-target="#credits">
        Attribution
    </a>
</footer>

<div class="modal fade" id="credits" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="creditsLabel">Attribution</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li><a class="link-primary" href="https://www.freepik.com/vectors/character">Character vector
                            created by vectorjuice
                            -
                            www.freepik.com</a></li>
                    <li>
                        <a class="link-primary" href="https://www.freepik.com/vectors/abstract">Abstract vector created
                            by vectorjuice -
                            www.freepik.com</a>
                    </li>
                </ul>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>