<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Rentier</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'index' %} active {% endif %}"
                        href="/">Home</a>
                </li>
                {% if session.user_id %}
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'predict' %} active {% endif %}"
                        href="/predict">Predict</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'history' %} active {% endif %}"
                        href="/history">History</a>
                </li>
                {% endif %}
            </ul>
            {% if session.user_id %}
            <form method="POST" action="/logout">
                <input type="submit" class="btn btn-primary" value="Logout">
            </form>
            {% else %}
            <a class="btn btn-primary" href="/login">Login</a>
            {% endif %}
        </div>
    </div>
</nav>